<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a><img style="width: 50px;" src="assets/MealFull-logos.jpeg" alt=""></a>
    <a style="margin-left: 10px;" class="navbar-brand" href="#">| MEALFULL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Food-Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Add Items</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-warning" type="submit">Chart</button>
      </form>
    </div>
  </div>
</nav>