<div>
    <div class="row" style="margin-top: 5px;">
        <div class="col">
            <img style="width: 100px; margin-left: 650px; border-radius: 50%;" src="assets/MealFull-style.jpeg" alt="cannot display image">
        </div>
        <div class="col" >
            <h1 style="margin-top: 20px;">| MEALFULL</h1>
        </div>
    </div><hr>
</div>
<div>
    <div class="row">
        <div class="col" style="text-align: center;">
            <p>Welcome to your own personalised diet chart calculator application! We here at Mealfull help you to know your food better before having a delicious 'MealFull' of joy.</p>
        </div>
        <div class="col" style="text-align: center;"> 
            <img style="width: 100px;" src="assets/images_1.jpeg" alt="cannot display image">
        </div>
    </div>
</div>