<div class="container-fluid">
    <div>
        <div class="row" style="margin-top: 5px;">
            <div class="col">
                <img style="width: 100px; margin-left: 600px; border-radius: 50%;" src="assets/MealFull-style.jpeg" alt="cannot display image">
            </div>
            <div class="col" style="margin-right: 50px;">
                <h1 style="margin-top: 20px;">| MEALFULL</h1>
            </div>
        </div><hr>
    </div>
    <div>
        <div class="row">
            <div class="col" style="text-align: center; margin-left: 10px;">
                <p style="margin-top: 120px;">Welcome to your own personalised diet chart calculator application! We here at Mealfull help you to know your food better before having a delicious 'MealFull' of joy. Understanding portion sizes, nutritional needs, and making informed choices about what we eat can significantly impact our health. Being aware of the source of our food, opting for balanced diets rich in nutrients, and minimizing processed foods are crucial components.</p>
            </div>
            <div class="col" style="text-align: center;"> 
                <img style="width: 600px;" src="assets/image1.gif" alt="cannot display image">
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;">
                <img style="width: 700px;" src="assets/image2.jpg" alt="cannot display image">
            </div>
            <div class="col" style="text-align: center;"> 
                <p style="margin-top: 120px;"> Reducing food waste is an integral part of managing food effectively. The global issue of food wastage not only strains resources but also contributes to environmental concerns. Planning meals, storing food properly, and repurposing leftovers can significantly cut down on waste. Additionally, supporting initiatives that redistribute surplus food to those in need fosters a more equitable society.</p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center; margin-left: 10px;">
                <p style="margin-top: 120px;">Maintaining proper food intake is essential for sustaining overall health and vitality. It ensures the body receives vital nutrients, enabling it to function optimally and support bodily processes effectively. Adequate food intake assists in weight management, providing sustained energy levels and preventing nutritional deficiencies or excesses. Moreover, it plays a pivotal role in disease prevention, supporting a robust immune system and reducing the risk of chronic illnesses. Balancing food intake promotes mental clarity, emotional well-being, and fosters a healthier relationship with food, contributing to a more wholesome and fulfilling lifestyle.</p>
            </div>
            <div class="col" style="text-align: center;"> 
                <img style="width: 600px;" src="assets/calculator.gif" alt="cannot display image">
            </div>
        </div>
    </div>
</div>

