<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped" style="box-shadow: 10px 10px 5px grey; margin-top: 10px;">
                <thead>
                    <tr style="text-align: center;">
                        <th>Food</th>
                        <th>Calories</th>
                        <th>Carbs</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of food" style="text-align: center;">
                        <td>{{f.foodName}}</td>
                        <td>{{f.calories}}</td>
                        <td>{{f.carbs}}</td>
                        <td><button class="btn btn-outline-primary"><i class="bi bi-file-plus"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                            <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5z"/>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"/>
                          </svg></button> {{f.quantity}} <button class="btn btn-outline-danger" (click)="deleteItem(f)"><i class="bi bi-file-minus"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-minus" viewBox="0 0 16 16">
                            <path d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5"/>
                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
                          </svg></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <div class="card" style="background-color:rgb(231, 195, 18); height: 200px; width: 400px; text-align: center; box-shadow: 10px 10px 5px grey; margin-top: 50px; margin-left: 100px;">
                <div style="margin-top: 50px;">
                    <div>
                        <u><h4>Calculator :</h4></u>
                    </div>
                    <div>
                        <h6>Calories = {{caloriesCounter()}}</h6>
                        <h6>Carbs = {{carbsCounter()}}</h6>
                    </div>
                    <div>
                        <button (click)="createChart()" (click)="deleteAll(food)" [routerLink]="['/home']" class="btn btn-primary">Create Chart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>